@CHARSET "UTF-8";

body {
	background: #278296
}

#login {
	width: 450px;
	height: 256px;
	background:url(../images/login.png) no-repeat left center;
	margin:120px auto 0 auto;
}

#login dl {
	width: 251px;
	margin: 0 0 0 auto;
	color: #fff;
	padding: 50px 0 0 0;
}