@charset "utf-8";

body,h1,h2,h3,h4,ul,ol,p,figure {
	margin: 0px;
}

img {
	display: block;
	max-width: 100%;
}

body {
		background-color: #fff;
			font-size: 0.16rem;
}


ul,ol {
	list-style: outside none none;
	padding: 0;
}

a {
	text-decoration: none;
}

.none {
	display: none;
}

#adver {
	margin: 0 auto;
	max-width: 1920px;
}