@charset "utf-8";

body,h1,h2,h3,h4,ul,ol,p,figure {
	margin: 0px;
}

img {
	display: block;
	max-width: 100%;
}

body {
		background-color: #fff;
			font-size: 0.16rem;
}


ul,ol {
	list-style: outside none none;
	padding: 0;
}

a {
	text-decoration: none;
}

.none {
	display: none;
}

#adver {
	margin: 0 auto;
	max-width: 1920px;
	padding: 70px 0 0 0;
	position: relative;
}

#adver .center {
	width: 40%;
	height: 60px;
	background-color: #000;
	position: absolute;
	top:50%;
	left:50%;
	margin: -30px 0 0 -20%;
	opacity: 0.6;
	border-radius: 10px;

}

#adver .search {
	width: 446px;
	height: 54px;
	background-color: #fff;
		position: absolute;
	top:50%;
	left:50%;
	margin: -27px 0 0 -296px;
	color: #666;
	border: 1px solid #666;
	border-radius: 10px;
	font-size: 24px;
	padding: 0 10px;
	outline: none; /*设置点击柜体后无外边框*/
}

#adver .button {
	width: 120px;
	height: 54px;
	background-color: #eee;
	position: absolute;
	top:50%;
	left:50%;
	margin: -27px 0 0 175px;
	color: #666;
	border: 1px solid #666;
	border-radius: 10px;
	font-size: 24px;
	outline: none; /*设置点击柜体后无外边框*/
	cursor: pointer;
	font-weight: bold;
}




#header {
	width: 100%;
	height: 70px;
	background-color: #333;
	position: fixed;
	top: 0
	z-index:9999;
}
#header .center {
	max-width: 1263px;
	height: 70px;
	margin: 0 auto;
}

#header .logo {
	width: 30%;
	height: 70px;
	background:url(../img/logo.png) no-repeat;
	text-indent: -9999px;
	float: left;
}

#header .link {
	width: 70%;
	height: 70px;
	line-height: 70px;
	color: #eee;
	float: right;
}

#header .link li {
	width: 20%;
	text-align: center;
	float: left;
}

#header .link a {
	color: #eee;
	display: block;
}

#header .link a:hover,#header .active a {
	background-color: #000;
}


/*媒体查询,参考部分 Bootstrap 框架*/ /*当页面大于 1200px 时,大屏幕,主要是 PC 端*/ 
@media (min-width: 1200px) {

}
/*在 992 和 1199 像素之间的屏幕里,中等屏幕,分辨率低的 PC*/ 
@media (min-width: 992px) and (max-width: 1199px) {

}
/*在 768 和 991 像素之间的屏幕里,小屏幕,主要是 PAD*/ 
@media (min-width: 768px) and (max-width: 991px) {

}
/*在 480 和 767 像素之间的屏幕里,超小屏幕,主要是手机*/ 
@media (min-width: 480px) and (max-width: 767px) {
#header .logo {
	display: none;
}

#header .link {
	width: 100%;
	line-height: 45px;

}

#header,#header .center, #header .link {
	height: 45px;
}
#adver {
	padding: 45px 0 0 0;
}



}
/*在小于 480 像素的屏幕,微小屏幕,更低分辨率的手机*/ 
@media (max-width: 479px) {
#header .logo,.xs-hidden {
	display: none;
}

#header .link {
	width: 100%;
	line-height: 45px;

}

#adver {
	padding: 45px 0 0 0;
}

#header,#header .center, #header .link {
	height: 45px;
}
#header .link li {
		width: 25%;
}



}